#boost {
    background-image: url('../assets/bg-boost-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(58, 48, 83);
    text-align: center;
    height: 15vw;
    width: 100vw;
    margin-left: -10vw;
}

#boost-head {
    font-weight: 700;
    font-size: 230%;
    color: white;
    padding: 40px 30px 10px 0px;
    margin-left: -8%;
}

.boost-button {
    height: 40px;
    width: 150px;
    border-radius: 150px;
    padding-top: 0%;
    padding-bottom: 0%;
    margin: 20px;
    margin-left: -8%;
    font-weight: 700;
    font-size: 15px;
    background-color: rgb(43, 209, 209);
    border: rgb(43, 209, 209) 1px solid;
    color: white;
}

.boost-button:hover {
    background-color: rgb(155, 227, 226);
    border: rgb(155, 227, 226) 1px solid;
}

@media (max-width:952px) {
    #boost {
        background-image: url('../assets/bg-boost-mobile.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgb(58, 48, 83);
        text-align: center;
        height: 260px;
        width: 160%;
        margin-left: -20vw;
    }
    #boost-head {
        margin-left: 0%;
        margin-right: auto;
    }
    .boost-button {
        margin-left: 0%;
        margin-right: auto;
    }
}