#features {
    text-align: center;
    margin-top: 7%;
    color: rgb(53, 51, 62);
}

#feature-heading {
    font-weight: 700;
    font-size: 40px;
}

#feature-description {
    color: rgb(149, 149, 159);
    margin-top: 1%;
}

#feature-cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5%;
    margin-top: 20%;
}

.feature-card {
    height: 80%;
    width: 330px;
    background-color: white;
    text-align: left;
    margin-right: 5%;
    border-radius: 10px;
}

#feature-card-1 {
    margin-top: -5%;
}

#feature-card-3 {
    margin-right: -15%;
    margin-top: 5%;
}

.card-box {
    display: flex;
    height: 10px;
    width: 55px;
    background-color: rgb(39, 207, 208);
    margin-left: -54px;
    margin-top: 120px;
}

.square-image {
    display: flex;
    background-color: rgb(52, 51, 83);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    margin-top: -10%;
    margin-left: 10%;
}

.square-image img {
    display: flex;
    margin: auto;
}

.card-title {
    margin: 30px;
    font-size: 25px;
    font-weight: 700;
}

.card-description {
    margin: 30px;
    font-size: 14px;
    color: rgb(175, 174, 180)
}